 .masthead{
  background-image: url('../images/heart-masthead-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 5rem;
  opacity: 1
}

.navbar-text {
  font-size:18px !important;
}

.masthead-logo{
  max-height: 300px;
}


.masthead-title{
  font-weight: 100;
  letter-spacing: 6.8px;
  color: #2a2737;
  font-size: 8rem;
}

.blank_row
{
    height: 10px !important; /* overwrites any other rules */
    background-color: #FFFFFF !important;
}
